---
layout: layouts/base.njk
ogType: article
---

<article class="blog-container">
  <header class="post-header">
    <h1 class="blog-title">{{ title }}</h1>
    <div class="blog-post-meta">
      <time datetime="{{ date | dateIso }}">{{ date | readableDate }}</time>
      {%- if author -%}
      <span>•</span>
      <span>{{ author }}</span>
      {%- endif -%}
    </div>
    {%- if description -%}
    <p class="section-subtitle">{{ description }}</p>
    {%- endif -%}
  </header>

  <div class="content-card">
    {{ content | safe }}
  </div>
</article>
